.card__text-adaptive{
    margin-top: 158px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    padding-left: 10px;
    padding-right: 10px;
}

.card-adaptive{
    min-width: 280px;
    height: 400px;
    border-radius: 10px;
    transition: background-size 4s ease;
    transition-delay: background-size 2s;
    background-position: center;
    margin: 10px;
}
 


