.card__text-adaptive{
    margin-top: 158px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    padding-left: 10px;
    padding-right: 10px;
}