.dates{
    margin-top: 28px;
    padding-top: 72px;
    margin-left: 334px;
}

@media(max-width: 500px){
    .dates{
        margin-top: 28px;
        padding-top: 72px;
        margin-left: 0;
    }
}

.dates__column{
    
    display: flex;
    flex-direction: column;
    align-items: start;
}

.dates__column-title{
    color: #1F1F1F;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 29px;
    line-height: 34.8px;
    margin-left: 10px;
}

.dates__column-cards{
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
}

.dates__column-button{
    align-self: center;
    
    margin-top: 28px;
}

.dates__column-button-b{
    width: 234px;
    height: 64px;
    border: 1px solid #BB050F;
    
    border-radius: 6px;

    color: #BB050F;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.dates__column-button-b:hover{
    color: #FFFFFF;
    background-color: #BB050F;
}

.card{
    min-width: 280px;
    margin: 10px;
    scroll-snap-align: center;
}

.dates__column-cards-adaptive{
    display: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    
    width: 100%;
}

@media(max-width: 500px){
    .dates__column-cards{
        display: none;
    }

    .dates__column-button{
        display: none;
    }

    .dates__column-cards-adaptive{
        display: flex;
        margin-top: 20px;
    }

    .dates__column-title{
        color: #1F1F1F;
        font-family: Inter;
        font-size: 40px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: left;
    }
}