@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.header{
    background-color: #1F1F1F;
    width: 100%;
    margin-top: -28px;
    position: fixed;
    box-sizing: border-box;
}

.header__container{
    max-width: 1800px;
    margin: 0 auto;

}

.header__row{
    padding-top: 3px;
    padding-bottom: 2px;
    display: flex;
    height: 100%;
    align-items: center;
}

.header__row-logo{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 3px 0px 2px 0px;

    &-image{
        cursor: pointer;
    }

    &-text{
        color: #8A8A8A;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 18.2px;
        margin-left: 50px;
    }

}

.header__row-actions{
    display: flex;
    width: 78.2%;
    justify-content:right;

    &-vk{
        margin-right: 41.98px;
        cursor: pointer;
    }

    &-search{
        display: flex;
        margin-right: 22.41px;
        cursor: pointer;

        &-icon{
            margin-right: 9.67px;
        }

        &-text{
            color: #FFFFFF;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }

    }

    &-profile{
        cursor: pointer;
    }
}

@media(max-width: 1840px){
    .header__row-actions{
        margin-right: 20px;
    }

    .header__row-logo{
        margin-left: 20px;
    }
}

.header__row-logo-adaptive{
    display: none;
    height: 100%;
    align-items: center;
    margin: 10px;
    
}

.header__row-logo-image-adaptive{
    cursor: pointer;
}

.header__row-logo-text-adaptive{
    color: #FFFFFF;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 5px;
}

.header__row-actions-adaptive{
    display: none;
    align-items: center;
}

.header__row-actions-menu{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.burger-close{

}

.header__row-adaptive{
    display: none;
    justify-content: space-between;
}

@media(max-width: 500px){
    .header__row{
        display: none;
    }

    .header__row-adaptive{
        display: flex;
    }

    .header__row-actions-adaptive{
        display: flex;
    }

    .header__row-actions{
        display: none;
    }

    .header__row-actions-search-icon{
        margin-right: 0px;
    }

    .header__row-logo{
        display: none;
        
    }

    .header__row-logo-adaptive{
        display: flex;
    }
}