.matcard{
    margin: 10px;
    width: '362px';
    height: '486px';
    background-color: #F5F5F5;
    border-radius: 10px;
    background-position: 50% 24px;
}

.matcard__info{
    margin-top: 378px;
    margin-left: 24px;
}

.matcard__info-title{
    color: #1F1F1F;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-top: 12px;
}

.matcard__info-separator{
    margin-top: 4px;
    margin-bottom: 4px;
    width: 80px;
    height: 0px;
    border: 1px solid #8A8A8A;
}