a{
    text-decoration: none;
}

.sidebar{
    position: fixed;
    background-color: #F5F5F5;
    border-radius: 10px;
    max-width: 234px;
    margin-top: 76px;
    margin-left: 80px;
}

.sidebar__row{
    display: flex;
    flex-direction: column;
}

.bar{
    display: flex;
    margin-top: 14px;
    margin-left: 30px;

    .redicon{
        display: none;
    }
}

.bar:hover{
    cursor: pointer;

    .icon{
        display: none;
    }

    .redicon{
        display:block;
    }
}

.bar:nth-child(1){
    margin-top: 30px;
}

.bar:last-child{
    margin-bottom: 30px;
}

.icon{
    
}

.text{
    color: #8A8A8A;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
    margin-right: 45px;
}

.text:hover{
    color: #BB050F;
}

.text1{
    color: #8A8A8A;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-right: 45px;
}

.text1:hover{
    color: #BB050F;
}
