a{
    text-decoration: none;
}

.sidebar{
    position: fixed;
    background-color: #F5F5F5;
    border-radius: 10px;
    max-width: 234px;
    margin-top: 76px;
    margin-left: 80px;
    z-index: 100000;
}

.sidebar__row{
    display: flex;
    flex-direction: column;
}

.bar{
    display: flex;
    margin-top: 14px;
    margin-left: 30px;
    align-items: center;
    .redicon{
        display: none;
    }
}

.bar:hover{
    cursor: pointer;

    .icon{
        display: none;
    }

    .redicon{
        display:block;
    }
}

.bar:nth-child(1){
    margin-top: 30px;
}

.bar:last-child{
    margin-bottom: 30px;
}

.icon{
    
}

.text{
    color: #8A8A8A;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
    margin-right: 45px;
}

.text:hover{
    color: #BB050F;
}

.text1{
    color: #8A8A8A;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-right: 45px;
}

.text1:hover{
    color: #BB050F;
}

.sidebar__row-adaptive{
    display: none;
    flex-direction: column;
}

.bar-adaptive{
    display: flex;
    margin-top: 14px;
    margin-left: 30px;
    align-items: center;

    .redicon{
        display: none;
    }
}

.bar-adaptive:hover{
    cursor: pointer;

    .icon{
        display: none;
    }

    .redicon{
        display:block;
    }
}

.bar-adaptive:nth-child(1){
    margin-top: 30px;
}

.bar-adaptive:last-child{
    margin-bottom: 30px;
}

.sidebar__row-adaptive-burgericon{
    align-self: flex-end;
    margin-top: 18px;
    margin-right: 19.8px;
}

@media(max-width: 500px){
    .sidebar{
        position:fixed;
        width: 100%;
        background-color: #1F1F1F;
        border-radius: 0px;
        margin-top: -20px;
        margin-left: 0px;
        max-width: 500px;
    }

    .sidebar__row{
        display: none;
    }

    .sidebar__row-adaptive{
        display: flex;
    }
}

.sidebar__row-about-text{
    margin-left: 11.33px;
}

.sidebar__row-main-text1{}

.sidebar__row-scient-text{
    margin-left: 10.18px;
}