.footer{
    background-color: #F5F5F5;
    margin-top: 50px;
}

.footer__container{
    max-width: 1800px;
    margin: 0 auto;
}

.footer__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.footer__row-column1{
    display: flex;
    flex-wrap: wrap;
}

.footer__row-column1-logo{

}

.footer__row-column1-logo-img{

}

.footer__row-column1-logo-text{
    margin-top: 12px;
    color: #8A8A8A;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.footer-title{
    color: #1F1F1F;
    font-family: Inter;
    font-size: 26px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 24px;
    
}

.footer__row-column1-support{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 65px;
    margin-right: 20px;
}

.maintext{
    color: #1F1F1F;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 12px;
}

.subtext{
    color: #8A8A8A;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 14px;
}

.footer__row-column2{
    display: flex;
    flex-wrap: wrap;
}

.footer__row-column2-contacts{
    
}

.footer__row-column2-map{
    margin-left: 36px;
}

.footer__row-column1-logo-img-adaptive{
    display: none;
}

.map{
    border: 2px solid #8A8A8A;
    width: 489px;
    height: 393px;
    border-radius: 10px;
}

.lowspace1{
    margin-bottom: 4px;
}

.footer__row-column2-contacts-adaptive{
    display: none;
}

@media(max-width: 500px){
    .footer{
        background-color: #1F1F1F;
        margin-top: 80px;
        
    }

    .footer__row{
        padding-left: 10px;
    }

    .footer-title{
        margin-bottom: 30px;
        margin-top: 0px;
    }

    .maintext{
        margin-bottom: 22px;
    }

    .subtext{
        margin-bottom: 30px;
    }

    .map{
        border: 2px solid #8A8A8A;
        min-width: 290px;
        height: 393px;
        border-radius: 10px;
        margin-right: 10px;
    }

    .footer__row-column2-contacts-adaptive{
        display: inline;
    }

    .footer__row-column2-contacts{
        display: none;
    }

    .footer__row-column1-logo-text{
        display: none;
    }

    .footer__row-column1-support{
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 0px;
    }

    .footer-title{
        color: #FFFFFF;
        font-family: Inter;
        font-size: 26px;
        font-weight: 600;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 30px;
    }
    .maintext{
        color: #FFFFFF;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.8px;
        letter-spacing: 0em;
        text-align: left;
    }
    .subtext{
        color: #8A8A8A;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 22.4px;
        letter-spacing: 0em;
        text-align: left;
    }

    .footer__row-column2-map{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .footer__row-column1-logo-img-adaptive{
        display: inline;
    }

    .footer__row-column1-logo-img{
        display: none;
    }

    .map{
        border: 2px solid #8A8A8A;
        width: 100%;
        border-radius: 10px;
    }
}

.lowspace1{
    margin-bottom: 4px;
}

.footer__row-adaptive{
    display: none;
}