.bigeventcard{
    width: 489px;
    height: 266px;
    border-radius: 10px;
    transition: background-size 4s ease;
    transition-delay: background-size 2s;
    background-position: center;
    margin: 10px;
    background-size: 100%;
    -webkit-transition: all 0.3s ease-in-out;
}
 
 .bigeventcard:hover{
     background-size: 107%;
 }

 .card__shell{
    padding-top: 24px;
 }