.about{
    margin-top: 28px;
    padding-top: 72px;
    margin-left: 334px;
}

.about__column{
    display: flex;
    flex-direction: column;
}

.subrules{
    color: #BB050F;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: underline;
}

.about__column-info{
    margin-top: 28px;
    max-width: 1504px;
    display: flex;
    flex-wrap: wrap;
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 28px 0px 28px 127px;

    &-adress{

    }

    &-phone{
        padding-right: 124px;
    }

    &-director{
        padding-right: 117px;
    }

    &-times{

    }
}

.default-about-text{
    color: #1F1F1F;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.default-about-text:nth-child(3){
    margin-top: 28px;
    margin-bottom: 60px;
}

.default-about-text:nth-child(5){
    margin-top: 28px;
    margin-bottom: 28px;
}

.title-about-text{
    color: #1F1F1F;
    font-family: Inter;
    font-size: 26px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.title-about-text:nth-child(7){
    margin-top: 60px;
    margin-bottom: 12px;
}

.title-about-text:nth-child(10){
    margin-top: 60px;
    margin-bottom: 12px;
}

.about__column-image{
    align-self: flex-start;
    color: #8A8A8A;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;

    p{
        margin-top: 14px;
    }
}

.about__column-tasks{
    color: #1F1F1F;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;


}

.task{
    padding-left: 10px;
    margin-top: 16px;
}

li::marker {
  content: url('../../images/task.png');
}

.task:last-child{
    padding-left: 10px;
    margin-top: 16px;
    margin-bottom: 28px;
}

.adress-1{
    margin-bottom: 0;
}

.adress-2{

}